html,
body {
  height: 100%;
}

body {
  @extend %mont-400;
  font-size: 13px;
  line-height: 20px;
  color: #fff;
  background-color: $default;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.container {
  max-width: 1230px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.container-fluid {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}

// section

.goods {
  padding: 30px 0 60px;
  border-bottom: 1px solid rgba(#fff, .1);
}
