// color

$default: #373737;

$default2: #272727;

$accent: #c80000;

$accent2: #ff0000;

$accent3: #FF3232;

// fonts

%mont-400 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

%mont-500 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

%mont-600 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

%jura-400 {
  font-family: "Jura", sans-serif;
  font-weight: 400;
}

%jura-500 {
  font-family: "Jura", sans-serif;
  font-weight: 500;
}
