// color

$default: #373737;

$accent: #C80000;

// fonts

%mont-400 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

%mont-500 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

%mont-600 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

%jura-400 {
  font-family: "Jura", sans-serif;
  font-weight: 400;
}
