@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";

// header

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(33, 33, 33, 0.8);
  z-index: 9999;
  &__inner {
    display: flex;
    justify-content: space-between;
    padding: 18px 0;
  }
  &__contacts {
    display: flex;
    align-items: center;
    padding-right: 10px;
  }
  &__contacts-location {
    margin-right: 35px;
    margin-left: 23px;
  }
  &__contacts-phone {
    @extend %mont-500;
    font-size: 20px;
    line-height: 24px;
    color: #fff;
  }
}
.menu-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.user-nav {
  display: flex;
  align-items: center;
  padding-left: 10px;
  &__link {
    padding: 0 12px;
  }
}

// top-slider

.top-slider {
  &__inner {
  }

  &__item {
    height: 100vh;
    min-height: 590px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
  }

  &__box {
    margin-top: 70px;
    padding-top: 75px;
  }

  &__container {
    padding-left: 70px;
  }

  &__title {
    width: 100%;
    max-width: 602px;
    margin-bottom: 24px;
    @extend %jura-400;
    font-size: 41px;
    line-height: 48px;
    color: #fff;
  }

  &__subtitle {
    margin-bottom: 55px;
    width: 100%;
    max-width: 447px;
    @extend %mont-400;
    font-size: 19px;
    line-height: 23px;

    color: #fff;
  }

  &__link {
    min-width: 165px;
    padding: 16px 34px;
    background-color: transparent;
    @extend %mont-600;
    font-size: 14px;
    line-height: 23px;
    color: #fff;
    text-transform: uppercase;

    border: 2px solid $accent;
    border-radius: 27px;
  }
  .slick-arrows {
    position: absolute;
    bottom: 60px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  .slick-arrows::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    width: 48px;
    height: 48px;
    border-radius: 50%;
    opacity: 0.5;
    border: 1px solid #fff;
  }
  .slick-next {
    right: 100px;
  }
  .slick-prev {
    left: 100px;
    z-index: 2;
  }

  .slick-dots {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 60px;
    display: flex;
    justify-content: center;
  }
  .slick-dots li+li {
    margin-left: 20px;
}
  .slick-dots button {
    display: inline-block;
    padding: 0 7px;
    border: none;
    background-color: transparent;
    @extend %mont-600;
    font-size: 15px;
    line-height: 18px;
    color: #fff;
    cursor: pointer;
  }
  .slick-dots .slick-active button {
    width: 19px;
    height: 19px;
    background-color: #fff;
    border-radius: 50%;
    transition: all .3s;
}
}

@import "media";
